<style>
    .blogPostContainer{
        height: 5rem;
        background-color: black;
    }
</style>


    <div class="row d-flex blogPostContainer justify-content-between">
        <div>{{title}}</div>
        <div>`Posted by {{Username}} on {{dateCreated}}`</div>
    {{body}} 
</div>