<style>
    #blogPostMin {
        background-color: #4621219d;
        padding: 1rem;
    }
    h6{
        color: white;
        font-weight: bold;
    }
</style>
<div id= 'blogPostMin'class="container d-flex justify-content-between mt-3">
    <h6>{{title}}</h6>
    <h6>{{dateCreated}}</h6>
</div>