<style>
    .card {
        height: 5rem;
        width: 24.75rem;
        border-radius: 15px 15px 15px 15px;
        border-color: grey 30px;
        background-color: rgb(198, 228, 201);
        box-shadow: 6px 6px 2px 1px darkgrey;
        color: #422727;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: black;
        position: relative;
        left: 4.05rem;
        margin-top: 7.0rem;
    }
    .card-body1 {
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
    }
</style>

<div class="card">
<div class="card-body1">
    {{secondarytitle}}
</div>
</div>