<div class="container mt-5">
        <h1 class="mt-5 text-center">Welcome, {{name}}</h1>
        <p>{{date}}</p>
        <img src="http://via.placeholder.com/1500x500/187895?text=image" alt="">
      </div>